[master]
${master_pub_ip} ansible_user=${admin_user} ansible_ssh_private_key_file=${ssh_private_key_file} k8s_api_ip=${master_priv_ip}

[workers]
%{ for ip in worker_priv_ips ~}
${ip} ansible_user=${admin_user} ansible_ssh_private_key_file=${ssh_private_key_file} ansible_ssh_common_args='-o ProxyCommand="ssh -i ${ssh_private_key_file} -W %h:%p -q ${admin_user}@${master_pub_ip}"'
%{ endfor ~}

[k8s:children]
master
workers

